@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

/*CSS Format*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CSS Rest
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/

/*Setting Body*/
body {
    font-size: 16px;
    background-color: #101119;
    color: navajowhite;
}

h2 {
    font-family: 'Comfortaa', cursive;
}

p {
    font-family: sans-serif;
}


/*Setting Navigation bar*/

/*Awal Setting logo*/

.main-nav {
    height: 130px;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #383833;
}

.nav-logo {
    height: 100%;
    padding: 10px 15px;
    display: flex;
}

.nav-logo .center-box {
    margin: auto;

}

.nav-logo h1 {
    font-family: Averia Sans Libre;
    font-size: 45px;
    background: linear-gradient(to right, #eed29f 10%, #ff4500 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-logo h1 a {
    text-decoration: none;
}

/*Akhir Setting logo*/


/*Settign main nav*/

.nav-menu {
    width: 65%;
    height: inherit;
    padding: 0px 15px;
}

.nav-menu .ulnav {
    display: flex;
    height: inherit;
}

.ulnav .center-box:first-child {
    border-left: 1px solid #383833;
}

.ulnav .center-box {
    display: flex;
    flex: 1;
    height: inherit;
    border-right: 1px solid #383833;
}

.ulnav .center-box a {
    width: 100%;
    height: 100%;
    text-align: center;
}

.nav-menu .ulnav li img {
    display: block;
    margin: 30px auto 10px;
}

.nav-menu .ulnav li a {
    color: aliceblue;
    text-decoration: none;
    margin: auto;
    transition: 100ms;
    /*1000ms = 1s*/
}

.nav-menu .ulnav li a:hover {
    filter: invert(17%) sepia(51%) saturate(287%) hue-rotate(326deg) brightness(104%) contrast(97%);
    transform: scale(1.1);
}

/*Akhir Settign main nav*/


/*Setting search box*/

.searchBox {
    background: rgb(246, 238, 218);
    height: 57px;
    border-radius: 40px;
    padding: 8.5px;
    margin: auto;
}

.searchBox:focus-within>.searchInput {
    width: 200px;
    padding: 0 6px;
}

.searchBox:focus-within>.searchButton {
    background: navajowhite;
    color: #2f3640;
}

.searchButton {
    color: #e16f6f;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(214, 214, 188, 0.945);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #21211c;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

/*Akhir Setting search box*/

/*Setting Main Contents*/

.opening {
    width: 100%;
    height: 600px;
    background: url(image/images/image5.jpg) no-repeat center center fixed;
    background-size: cover;
    filter: opacity(0.9);
}

.container {
    width: 800px;
    height: 200px;
    top: 50%;
    left: 150px;
    position: relative;
    background: rgba(36, 36, 30, 0.502);
    border-radius: 30px;
    overflow: hidden;
}

.container .pers {
    width: 90%;
    height: 100px;
    margin: 20px auto;
    font: 600 45px 'Comfortaa', cursive;
    color: white;
}

.container .button {
    width: 250px;
    height: 45px;
    border-radius: 30px;
    margin: 0 0 0 40px;
    cursor: pointer;
    background-color: rgba(20, 20, 20, 0.727);
    color: aliceblue;
    font-weight: 750;
    transition: .2s;
}


.container .button:hover {
    background-color: navajowhite;
    color: black;
    font-size: 15px;
    border-color: #7a7a7a;
}


/*Setting awal article*/
.article {
    width: 100%;
    height: 700px;
    display: flex;
}

.container-news .news {
    height: 350px;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.container-news .news .image-box {
    border-bottom: .1px solid #383833;
}

.container-news .news .image-box.large {
    flex: 1.8;
}

.container-news .news .image-box.image {
    display: flex;
    flex: 1.3;
    background-image: url(image/images/Image-2.JPG);
    background-size: cover;
    background-position: -10px 0;
    background-repeat: no-repeat;
}

.container-news .news .image-box.image.dua {
    background-image: url(image/images/Image-3.JPG);
    background-position: -50px 0;
}

.container-news .news .image-box.large.dua {
    order: 2;
}

.news .image-box .news-article {
    width: 650px;
    height: 150px;
    margin: 125px 0 0 80px;
}

.news .image-box .news-article h2 {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 600;

}

.news .image-box .news-article h2 a {
    color: #ff4500;
    text-decoration: none;

}

.news .image-box .news-article h2 a:hover {
    text-decoration: underline;
}


.news .image-box .news-article p {
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    line-height: 40px;
}

.news .image-box .container-text .text {
    padding: 30px;
    transition: .2s;
}

.news .image-box.image h2 {
    margin: auto;
    font-size: 18px;
    text-decoration: none;
    word-spacing: 5px;
    line-height: 25px;
}

.news .image-box.image .text a {
    font-size: 20px;
    color: #ff4500;
    text-decoration: none;
}

.news .image-box.image h2:hover {
    font-size: 20px;
}

.news .image-box .container-text {
    align-self: flex-end;
    height: 30%;
    width: 100%;
    background-color: rgba(15, 15, 15, 0.845);
    border-radius: 30px;
    display: flex;
}

.news .image-box .container-text .text-dua {
    margin: auto;
    padding: 30px;
    transition: .2s;
}

.news .image-box .container-text .text-dua a {
    text-decoration: none;
    color: #ff4500;
}

.news .image-box.large.dua {
    display: flex;
}

.news .image-box.large.dua .news-articledua {
    height: 45%;
    width: 100%;
    align-self: center;
    margin: 10px;
    padding: 0px 50px 0px 80px;
}

.news .image-box.large.dua .news-articledua h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
}

.news .image-box.large.dua .news-articledua h2 a {
    color: #ff4500;
    text-decoration: none;
}

.news .image-box.large.dua .news-articledua h2 a:hover {
    text-decoration: underline;
}

.news .image-box.large.dua .news-articledua p {
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    line-height: 40px;
}

/*Akhir Setting Main Contents*/

/*Setting Profil Contents*/

.profile {
    width: 100%;
    height: 500px;
    display: flex;
}

.profile .pf-box.satu {
    flex: 2;
}

.profile .pf-box.dua {
    flex: 1.8;
    display: flex;
}

/*Left side content*/
.profile .pf-box.satu .pf-textBox {
    width: 80%;
    margin: 60px auto 20px;
}

.profile .pf-box.satu .pf-textBox h1 {
    margin: 0px 0px 30px 0px;
    font-family: Averia Sans Libre;
    font-size: 45px;
    letter-spacing: -1px;
    text-align: center;
    font-weight: 500;
    background: linear-gradient(to right, #eed29f 10%, #ff4500 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile .pf-box.satu .pf-textBox p {
    width: 600px;
    font-size: 19px;
    color: #f2f2f2;
    word-spacing: 3px;
}

.profile .pf-box.satu .pf-textBox .logo {
    color: #ff4500;
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    font-size: 25px;
    background: linear-gradient(to right, #eed29f 10%, #ff4500 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile .pf-box.satu .pf-textBox .slogan {
    font-size: 18px;
    margin: 19px auto;
    font-weight: 100;
}

/* Akhir Left side content*/

/* Right side content*/
.profile .pf-box.dua .pf-boxRa {
    display: flex;
    height: 90%;
    width: 90%;
    margin: auto;
    border-radius: 21px;
    box-shadow: 30px 30px 59px #0e0e15,
        -30px -30px 59px #12141d;
}

.profile .pf-box.dua .pf-boxRa .image-Box {
    height: 98%;
    width: 98%;
    background: linear-gradient(-90deg, transparent, 20%, #101119), url(image/images/image7.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    overflow: hidden;
    border-radius: 21px;
}

.profile .pf-box.satu .soc-ico {
    display: flex;
}

.profile .pf-box.satu .soc-ico .soc-icoContainer {
    margin: 10px 0 0 65px;
}

.profile .pf-box.satu .fa {
    height: 45px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    padding: 9px;
    font-size: 30px;
    border-radius: 50%;
    box-shadow: 8px 8px 22px #0b0b11,
        -8px -8px 22px #151722;
    transition: .3s;
}

.fa:hover {
    transform: scale(1.4);
    opacity: 0.7;
    background: linear-gradient(to right, #eed29f 10%, #ff4500 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-youtube,
.fa-facebook,
.fa-google,
.fa-instagram,
.fa-github {
    background: linear-gradient(to right, #eed29f 10%, #ff4500 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/*Akhir Setting Profil Contents*/


/*Setting Card Course*/


.cardcourse {
    width: 100%;
    height: 700px;
    display: flex;
}

.cardcourse .cardcourseContainer {
    width: 100%;
    height: 90%;
    display: flex;
    margin: auto;
}

.cardcourse .cardcourse-box {
    flex: 1;
    display: flex;
}

.cardcourse .cardcourse-box.list {
    flex-grow: 2.5;
    display: flex;
}

/*Panel Sebelah Kiri*/
.cardcourse .cardcourse-box .del-course {
    display: flex;
    width: 70%;
    height: 95%;
    margin: auto;
    border-radius: 5%;
    box-shadow: 8px 8px 22px #0b0b11,
        -8px -8px 22px #151722;
}

.cardcourse .cardcourse-box .del-course .del-courseHeader {
    width: 70%;
    height: 35%;
    margin: 60px auto;
    box-sizing: border-box;
    border-radius: 5%;
    box-shadow: 8px 8px 22px #0b0b11,
        -8px -8px 22px #151722;
}

.cardcourse .cardcourse-box .del-course .del-courseHeader .meta {
    margin: 20px;
    margin-bottom: 40px;
    line-height: 35px;
    font-weight: 600;
    box-sizing: border-box;
}

.cardcourse .cardcourse-box .del-course .del-courseHeader p {
    color: #ea6500;
    box-sizing: border-box;
}

/*Akhir Panel Sebelah Kiri*/

/*Panel Sebalah Kanan*/
.cardcourse .cardcourse-box .del-course-list {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 95%;
    margin: auto;
    border-radius: 5%;
    box-shadow: 8px 8px 22px #0b0b11,
        -8px -8px 22px #151722;
}

.cardcourse .cardcourse-box .del-course-list .del-courseHeader {
    width: 80%;
    height: 45%;
    margin: 20px auto;
    box-sizing: border-box;

}

.cardcourse .cardcourse-box .del-course-list .del-courseHeader p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    color: #ea6500;
}

.cardcourse .cardcourse-box .del-course-list .del-courseHeader h2 {
    margin: 40px auto 0px;
    line-height: 35px;
    letter-spacing: 1.5px;

}

.cardcourse .cardcourse-box .del-course-list .del-courseHeader .term {
    margin-top: 10px;
    color: #b8a5a2;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: .1px;
}

.cardcourse .cardcourse-box .del-course-list .del-course-meta {
    width: 80%;
    height: 45%;
    margin: 20px auto;
    display: grid;

}

.cardcourse .cardcourse-box .del-course-list .del-course-meta .photo {






    /* Akhir Panel Sebalah Kanan*/